<a href="#app/" class="button" id="addNewApp">Add new</a>
<a href="#" class="button {{#unless itemNumber}} inactive {{/unless}}"
   id="deleteItems">Delete Selected{{#if itemNumber}} ({{itemNumber}}) {{/if}}</a>