<div id="default-base" class="base-wrapper">

    <div id="header">

        <div id="logo" class="float-left">
            <a href="#" title="{{theme.settings.logo.title}}"><img src="{{theme.settings.logo.src}}" width="{{theme.settings.logo.width}}" height="{{theme.settings.logo.height}}" alt="{{theme.settings.logo.alt}}" /> </a>

        </div>

    </div>

    <div id="menu" class="menubar"></div>
    <div id="content" class="content"></div>

</div>