<div class="field-float-select data-obj">
    <label for="selection_{{id}}">{{title}}</label>
    <select id="selection_{{id}}" class="placeholderText" tabindex="0" required>
        <option value=""  disabled="">select...</option>
        {{#each data.enum}}
            <option value="{{this}}" {{#equals this ../selected}}selected=""{{/equals}} >{{this}}</option>
        {{/each}}
    </select>
</div>
