<div class="field-float-pattern data-obj">
    <label class="showLabel">{{title}}</label>
    <ul class="buttonControl">
        <li><a class="button {{#equals selected true}}selected{{/equals}}" tabindex="0">true</a></li>
        <li><a class="button {{#equals selected false}}selected{{/equals}}" tabindex="0">false</a></li>
    </ul>
</div>
