<li class="rule clearfix" id="subject_{{itemID}}" tabindex="0" >

	<div class="item-data float-left">

		<div class="field-float-select data-obj" id="typeSelector">
			<label for="selection" >Type</label>
			<select id="selection" class="placeholdertext" tabindex="0" >
				<option value="" selected disabled >select...</option>
				{{#subjects}}<option value="{{title}}">{{title}}</option>{{/subjects}}
			</select>
		</div>

	</div>

	<span class="item-button-panel">
		<span tabindex="0" class="icon-checkmark"></span>
		<span tabindex="0" class="icon-pencil"></span>
		<span tabindex="0" class="icon-remove"></span>
	</span>

</li>
