<div class="content-bg">
    {{#if entity.name}}
    <h1>{{t "config.messages.PolicyMessages.edit"}}{{entity.name}}</h1>
    {{else}}
    <h1>{{t "config.messages.PolicyMessages.createApp"}}</h1>
    {{/if}}
    <div class="clearfix">
        <p>An application (term as used in the Entitlements Service) consolidates policy-related meta data for a specified
            service. This template is then used when policies are created for the service. To create an application, begin
            with Step 1 and progress through step 7. Modifications can be made after the application has been created.</p>

        <a href="#apps/" class="button float-right" id="backButton">Back</a>
    </div>

    <form class="form">
        <div class="accordion">
            <a class="accordion-header" href="">Step 1: Define an Application Name</a>
            <section class="accordion-step clearfix">
                <div class="group-field-block">
                    <label class="prop-name" for="appName">Name:</label>
                    <input class="prop-val" id="appName" type="text" value="{{entity.name}}" data-field="name"/>
                </div>
                <div class="group-field-block">
                    <label class="prop-name" for="appDescription">Description (optional):</label>
                    <textarea class="prop-val" id="appDescription" data-field="description">{{entity.description}}</textarea>
                </div>

                <div class="group-field-block">
                    <label class="prop-name" for="appRealm">Realm</label>
                    <input class="prop-val" id="appRealm" type="text" value="{{entity.realm}}" data-field="realm"/>
                </div>
                <input type="button" value="Next" name="nextButton" class="button"/>
            </section>

            <a class="accordion-header" href="">Step 2: Add Resources</a>
            <section class="accordion-step clearfix">
                <div class="column-layout">
                    <div class="column2" id="resourcesList"></div>
                    <div class="column2" id="addNewResource"></div>
                </div>

                <input type="button" class="button" value="Next" name="nextButton"/>
            </section>

            <a class="accordion-header" href="">Step 3: Review Configuration</a>
            <section class="accordion-step clearfix">
                <p>
                    Review the application configuration and click Finish to save.
                </p>

                <div class="column-layout" id="reviewInfo"></div>

                <input type="button" class="button" value="Finish" name="submitForm"/>
            </section>
        </div>
    </form>
</div>
