<div class="content-bg">
    {{#if entity.name}}
    <h1>{{t "config.messages.PolicyMessages.edit"}}{{entity.name}}</h1>
    {{else}}
    <h1>{{t "config.messages.PolicyMessages.createPol"}}</h1>
    {{/if}}
    <div class="clearfix">
        <p>To designate the conditions that define access to a protected resource, begin with Step 1 and
            progress through step 6. Modifications can be made after it has been created.
        </p>
        <a href="#app/{{entity.applicationName}}/policies/" id="cancelButton" class="button float-right">Back</a>
    </div>

    <form class="form">

        <div id="policy-steps" class="accordion">
            <a href="" class="accordion-header">Step 1: Define a Policy Name and Description</a>
            <section class="accordion-step clearfix">

                <div class="group-field-block">
                    <label class="short" for="policyName">Name</label>
                    <input class="prop-val" id="policyName" type="text" value="{{entity.name}}" data-field="name"/>
                </div>
                <div class="group-field-block">
                    <label class="short" for="description">Description (optional)</label>
                    <textarea class="prop-val" id="description" data-field="description">{{entity.description}}</textarea>
                </div>

                <input class="button" type="button" value="Next" name="nextButton">

            </section>

            <a href="" class="accordion-header">Step 2: Add Resources</a>
            <section class="accordion-step clearfix">

                <div class="column-layout">
                    <div class="column2" id="resourcesList"></div>
                    <div class="column2" id="addNewResource"></div>
                </div>

                <input class="button" type="button" value="Next" name="nextButton">

            </section>

            <a href="" class="accordion-header">Step 3: Configure Actions</a>
            <section class="accordion-step clearfix">

                <table id="actions" class="filter-sort-grid actions-grid"></table>
                <input class="button" type="button" value="Next" name="nextButton">

            </section>

            <a href="" class="accordion-header">Step 4: Select Subjects</a>
            <section class="accordion-step clearfix">

                <div id="subjectContainer"></div>
                <input class="button" type="button" value="Next" name="nextButton">

            </section>

            <a href="" class="accordion-header">Step 5: Environmental Conditions</a>
            <section class="accordion-step clearfix">

                <div id="environmentContainer"></div>


                <input class="button" type="button" value="Next" name="nextButton">

            </section>

            <a href="" class="accordion-header">Step 6: Summary and Confirmation View</a>
            <section class="accordion-step clearfix">

                <p> Review the policy configuration and click Finish to save.</p>

                <div class="column-layout" id="reviewPolicyInfo"></div>

                <input class="button" type="button" value="Finish" name="submitForm">
            </section>
        </div>
    </form>
</div>