<p>
    Sorry, your session has ended. To perform your requested action, please 
    <a href="{{reauthUrl}}" target="_new">Login Again</a> in a new window. When 
    logged-back in, you may return to this window, close this dialog, and then 
    attempt to perform your action again.
</p>