<div class="content-bg">
    <h1>Manage {{appName}} policies</h1>

    <div class="clearfix">
        <p>To modify configured policies, click the policy name. You can also select the policy to remove it or export it.</p>

        <span id="globalActions"></span>
    </div>

    <table id="managePolicies" class="policy-editor-grid"></table>
    <div id="policiesPager"></div>
</div>
