<div class="content-bg">
    <h1>Manage Applications</h1>

    <p>To modify configured applications, click the application name. You can also select the application to remove
        it.</p>

    <span id="globalActions"></span>

    <table id="manageApps" class="policy-editor-grid"></table>
    <div id="appsPager"></div>
</div>