<div id="condition-management">

	<ol id='dropOffArea' class="condition-management-group environment-area"></ol>
	<div id="pickup-area" class="clearfix">

		<div class="clearfix">

			<p>To create policy rules, add a Condition or Logical with the buttons below, then drag the item up into the above section. The item can be configured both before and after is has been moved. Only rules inside the top section will be included final policy. To edit a Condition in the top section, just click the edit icon (pencil) or double-click the item.</p>

			<div class="pickup-actions-block float-left">
				<a class="icon-plus button" id="addCondition" href=#><span>{{conditionName}}</span></a>
				<a class="icon-plus button" id="addOperator" href=#><span>Logical</span></a>
			</div>

			<div class="pickup-actions-block float-right">
				<a class="button inactive" id="clear" href=#>Clear</a>
			</div>

		</div>

		<ol class='condition-management-group clearfix' id='pickUpItem'></ol>

	</div>

</div>
