<li class="operator clearfix"  id="operator{{itemID}}" {{#unless firstChild}}tabindex="0"{{/unless}} >
	<select>
		{{#operators}}<option value="{{title}}">{{title}}</option>{{/operators}}
	</select>
	{{#unless firstChild}}
	<span class="item-button-panel">
		<span class="icon-remove tooltips" tabindex="0">
			<span>Deleting will also remove any objects</span>
		</span>
	</span>
	{{/unless}}
	<ol class="dropbox" {{#if firstChild}}id="dropbox"{{/if}}> </ol>
</li>