<a href="#apps/" class="button float-right" id="backToApps">Back</a>
<a href="#app/{{appName}}/policy/" class="button float-left">Add New Policy</a>
<a href="#" class="button float-left">Import Policies</a>
<a href="#" class="button {{#unless itemNumber}} inactive {{/unless}}"
   id="deleteItems">Delete Selected{{#if itemNumber}} ({{itemNumber}}) {{/if}}</a>
