<table class="filter-sort-grid resources-grid">
    <thead>
    <tr class="header-actions">
        <th colspan="3">
            <input id="deleteResources" type="button" class="button" value="Delete Selected">
        </th>
    </tr>
    <tr class="header-titles">
        <th><input class="toggle-all-resources" type="checkbox"/></th>
        <th><a href="">Resource</a></th>
    </tr>
    <tr class="header-filter">
        <th></th>
        <th><input type="text" value="" placeholder="Filter ..." /></th>
    </tr>
    </thead>

    <tbody>
    {{#each entity.resources}}
    <tr>
        <td><input type="checkbox" data-resource-index="{{@index}}"/></td>
        <td class="res-name">{{this}}</td>
    </tr>
    {{/each}}
    </tbody>
    <tfoot></tfoot>
</table>