{{! The IDs are used for testing }}
<div class="col2">

    <div class="review-row clearfix" tabindex="0" >
        <h2>Name</h2>
        <p id="reviewName">{{entity.name}}</p>

        {{#if entity.description}}<p id="reviewDesc">{{entity.description}}</p>{{/if}}

        <h2>Realms</h2>
        {{#if entity.realm}}
        <ul id="reviewRealm">
            <li>{{entity.realm}}</li>
        </ul>
        {{/if}}
    </div>

    <div class="review-row clearfix" tabindex="0" >
        <h2>Resources</h2>
        {{#if entity.resources}}
        <ul id="reviewRes">
            {{#each entity.resources}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>

</div>