{{! The IDs are used for testing }}
<div class="col2">
    <div class="review-row clearfix" tabindex="0" >
        <h2>Name</h2> 
        <p id="reviewName">{{entity.name}}</p>
        {{#if entity.description}}<p id="reviewDesc">{{entity.description}}</p>{{/if}}

    </div>

    <div class="review-row clearfix" tabindex="0" >
        <h2>Resources</h2>
        {{#if entity.resources}}
        <ul id="reviewRes">
            {{#each entity.resources}}
            <li>{{this}}</li>
            {{/each}}
        </ul> 
        {{/if}}
    </div>

    <div class="review-row clearfix" tabindex="0" >
        <h2>Actions</h2>
        {{#if entity.actions}}
        <ul id="reviewActions">
            {{#each entity.actions}}
            {{#if selected}}
            <li>{{action}}: {{#if value}} Allowed {{else}} Denied {{/if}}</li>
            {{/if}}
            {{/each}}
        </ul>
        {{/if}}
    </div>

</div>

<div class="col2">

    <div class="review-row clearfix" tabindex="0" >
        <h2>Subjects</h2>
        {{#if subjectString}}
        <pre>{{subjectString}}</pre>
        {{/if}}
    </div>

    <div class="review-row clearfix" tabindex="0" >
        <h2>Environments</h2>
        {{#if environmentString}}
        <pre>{{environmentString}}</pre>
        {{/if}}
    </div>

</div>
