/**
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright 2014 ForgeRock AS.
 *
 * The contents of this file are subject to the terms of the Common Development and Distribution License (the License).
 * You may not use this file except in compliance with the License.
 *
 * You can obtain a copy of the License at http://forgerock.org/license/CDDLv1.0.html. See the License for the specific
 * language governing permission and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL Header Notice in each file and include the License file at
 * http://forgerock.org/license/CDDLv1.0.html. If applicable, add the following below the CDDL Header, with the fields
 * enclosed by brackets [] replaced by your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 */
#appsList {
  margin-bottom: 20px;
}

#trustedDevices {

  table {
    border-collapse: collapse;
    width:100%;
  }

  table, th {
    border: 1px solid #ccc;
    padding: 10px 0;
  }

  th {
    background-color:#ddd;
    &:last-child{  width:120px;  }
  }

  td {
    border-left: 1px solid #ccc;
    padding: 10px;
    &:last-child{ text-align:center; }
  }

  tr {
    &:nth-child(odd){  background-color:#eee; }
    &:nth-child(even){ background-color:#fff; }
    &:hover{ background-color:#ffe; }
  }

}#oAuthTokens {

  table {
    border-collapse: collapse;
    width:100%;
  }

  table, th {
    border: 1px solid #ccc;
    padding: 10px 0;
  }

  th {
    background-color:#ddd;
    &:last-child{  width:120px;  }
  }

  td {
    border-left: 1px solid #ccc;
    padding: 10px;
    &:last-child{ text-align:center; }
  }

  tr {
    &:nth-child(odd){  background-color:#eee; }
    &:nth-child(even){ background-color:#fff; }
    &:hover{ background-color:#ffe; }
  }
}