@active-background-color: #EDFCF5;

.filter-sort-grid {
    position: relative;
    .rounded-corners(5px);

    td, th {
        text-align: left;
        padding: 5px 10px;
    }

    th:first-child, td:first-child {
        width: 12px;
    }

    input[type='text'], select, input.button {
        padding: 2px 5px;
    }

    tbody tr:hover{
        background-color:@active-background-color;
    }

    // Header
    .header-titles {
        th, td {
            background-color: #5a646d;
            border: 1px solid #5a646d;

            &:first-child {
                border-radius: 5px 0 0 0;
            }

            &:last-child {
                border-radius: 0 5px 0 0;
            }
        }

        a {
            white-space: nowrap;
        }
    }

    .header-filter {
        background-color: #eee;
        border-bottom: 1px solid #ccc;

        input, select {
            width: 90%;
        }

    }

    .header-actions {
        th {
            text-align: right;
            padding-right: 0;
        }
    }

// Body
    tbody {
        background-color: #fff;

        td {
            border-bottom: 1px solid #ccc;
        }
    }
}

// Accordion
.accordion {
    margin: 15px 0 0 0;
    background-color: #fff;
    border: 1px solid #BCBEC0;
    border-bottom: none;
    overflow: hidden;
    .rounded-corners(5px);

    .accordion-header {
        height: 30px;
        line-height: 30px;
        display: block;
        padding: 0 0 0 10px;
        background-color: #d5d5d5;
        color: #666;

        border-bottom: 1px solid #bebebe;
        text-decoration: none;

        &.accordion-step-disabled {
            background: #aaa;
            cursor:default;
        }

        &:focus:not(.accordion-step-disabled), &:hover:not(.accordion-step-disabled), &.step-active:not(.accordion-step-disabled){
            background-color: darken(@active-background-color, 5%);
            box-shadow:none;
        }
    }

    .accordion-step {
        padding: 20px 15px 15px;
        border-bottom: 1px solid #bebebe;

        & > input.button {
            margin-top: 15px;
            float:right;
        }

        .group-field-block, .group-field-row {
            label {
                width: 180px;
                padding: 0;
                font-size: inherit;
                font-weight: normal;
            }
        }

        &:last-of-type:not(.active-step){
            border-bottom: none;
        }
    }

    .group-field-block {
        margin: 15px 0;

        input {
            margin: 2px 5px 0 0;
        }

        .resource-pattern {
            input {
                width: 180px;
                float: none;
            }
        }

        .controls-group {
            float: left;
            width: 200px;
            margin-left: 20px;

            input {
                clear: left;
            }
        }
    }

    .prop-val {
        float: left;
    }

    select.prop-val {
        width: 200px;
    }

    textarea.prop-val, input.prop-val {
        width: 180px;
    }

    textarea.prop-val {
        resize: none;
    }

    .review-row {

        background: #ebebeb;
        padding: 0 8px 13px;
        clear: both;
        font-size: 13px;
        margin: 0 5px 5px 0;
        border-radius: 3px;
        border:1px solid #bebebe;
        cursor:pointer;
        overflow-x:auto;

        h2 {
            float: left;
            font-size: 15px;
            line-height: 20px;
            padding: 8px 10px 8px 0;
        }

        ul, p, pre {
            clear:left;
            padding: 0 0 0 20px;
            display:block;
        }

        p, li {
            font-family: monospace;
            display: block;
        }

        pre {
            font-family: monospace;
            line-height: 0.9em;
            display: block;
            float: left;
        }

        &:hover, &:focus{
            background: #bebebe;
            box-shadow:none;
        }

    }

    .resources-grid, .actions-grid {
        width: 430px;
    }

    .actions-grid {
        .group-field-row {
            margin: 0;
            label {
                padding: 0 5px;
                width: auto;
            }
        }
        th:last-child {
            width: 130px;
        }
    }
}

.ui-jqgrid {
    cursor: pointer;
    margin: 15px 0 0 0;

    span.item-button-panel {
        > span {
            font-size: 16px;
            padding: 0 3px;

            &.tooltips {
                &:hover span, &:focus span {
                    margin-left: -40px;
                    width: 70px;
                }
            }
        }
    }

    .ui-state-hover {
        border-color: rgba(0, 0, 0, 0.2);
    }

    .ui-state-highlight {
        background: #d7f8e9;
        border-color: rgba(0, 0, 0, 0.2);
        color: inherit;
    }

    tr.ui-widget-content {
        box-shadow: none;
        td {
            vertical-align: middle;
        }
    }

    th[id*="_cb"] {
        display: none;
    }

    tr.jqgrow td[aria-describedby*="_iconChB"] {
        text-align: center;

        span {
            font-size: 16px;
        }
    }

    tr.jqgrow td[aria-describedby*="_name"] {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    tr.jqgrow td[aria-describedby*="_actions"] {
        background-color: #ebebeb;
        overflow: visible;
        white-space: normal;
        text-align: center;
    }

    tr.jqgrow.ui-state-hover, tr.jqgrow.ui-state-highlight {
        td[aria-describedby*="_actions"] {
            background-color: inherit;
        }
    }
}

[id*='gview_'] .frozen-bdiv {
    overflow: visible !important;
    height: auto !important;
}

.ui-multiselect {
    .remove-all, .add-all {
        float: right;
        padding: 7px;
    }
    .count {
        float: left;
        padding: 7px;
    }
    .ui-state-default {
        border: medium none;
        margin-bottom: 1px;
        padding-left: 20px;
        position: relative;
    }
    li span.ui-icon-arrowthick-2-n-s {
        left: 2px;
        position: absolute;
    }
    li a.action {
        position: absolute;
        right: 2px;
        top: 2px;
    }
    div.selected, div.available {
        border: 0 none;
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
        width: 240px !important;
    }
    .search {
        width: 130px;
    }
}

span.item-button-panel {

    > span {
        opacity:0.5;
        transition:opacity 200ms linear;

        &.icon-checkmark {
            display:none;
        }

        &:hover, &:focus {
            opacity:1;
            box-shadow: none;
        }

        &.tooltips {
            position: relative;
            display: inline;

            span {
                position: absolute;
                width: 0;
                color: #fff;
                background-color:#000;
                background-image:-webkit-linear-gradient(top, #555, #000);
                text-align: center;
                visibility: hidden;
                border-radius: 3px;
                font-size: 13px;
                padding: 6px 5px 10px;
                box-shadow: 0px 1px 3px #666;
                bottom: 25px;
                transition:bottom 200ms ease-out, opacity 500ms ease-in;

                &:after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -8px;
                    width: 0; height: 0;
                    border-top: 8px solid #000;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                }
            }

            &:hover span, &:focus span {
                visibility: visible;
                opacity: 0.8;
                bottom: 30px;
                left: 50%;
                z-index: 999;
            }
        }
    }
}